.credit-content{
    --background: url(../assets/img/background-login.jpg) no-repeat cover fixed center;
    background: url(../assets/img/background-login.jpg) no-repeat fixed center; 
    background-size: cover;
}

.credit-section{
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #EDEDF4;
    align-items: center;
    text-align: center;
}

.credit-content .card-principal ion-card-header{
    background-color: #0071B8;
    background-image: linear-gradient(to right,  #499BDD, #002E5D);
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: relative;
}

.credit-content .card-principal ion-card-title{
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #C9C9C9;
    font-family: 'Quicksand', sans-serif;
}

.credit-content .card-principal ion-card-subtitle{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #EDEDF4;
    font-family: 'Quicksand', sans-serif;
}
.credit-content .card-principal h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #0071B8;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
}