.background-forgotpass{
    --background: url(../assets/img/background-login.jpg) no-repeat cover fixed center;
    background: url(../assets/img/background-login.jpg) no-repeat fixed center; 
    background-size: cover;
}

#in-email{
    --padding-start: 36px;
    --padding-top: 36px;
}

.forgotpass-section {
    height: 80%;
    width: 100%;
    max-width: 500px;
    background: #EDEDF4;
    right: 0;
    left: 0;
    bottom: 0;
    position: relative; top: 45px;
    margin: auto;
    border-top-right-radius: 46px;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;
}

.forgotpass-section .heading h1{
    margin-top: 20px;
    font-size: 1.6 rem;
    font-weight: bolder;
    color: #0071B8;
    text-align: center;
}

.forgotpass-section .heading p{
    margin-top: 20px;
    font-size: 1 rem;
    color: #606D80;
    text-align: center;
}

.forgotpass-section .form{
    position: relative;
    margin-bottom: 10px;
}

#iconForgot{
    position: absolute;
    top: 19px;
    z-index: 2;
    font-size: 1.2rem;
    left: 3px;
    color: #0071B8;
}

.forgotpass-section .form .labelForgotpass{
    position: absolute;
    margin-left: 35px;
    font-size: 1rem;
    top: 3px;
    color: #404749;

}
#send-button{
    --background: #064780;
    width: 50%;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.action-button{
    text-align: center;
}