ion-toolbar {
    --background: #EDEDF4;
}

ion-title {
    --color: #0071B8;
    font-weight: bolder;
    text-align: center;
  }

ion-content{
    --background: url(../assets/img/background-login.jpg) 0 0/100% 100% no-repeat;
}

.login-section{
    height: 90rv;
    width: 100%;
    max-width: 450px;
    background: #EDEDF4;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute; top: 35px;
    margin: auto;
    border-top-right-radius: 46px;
    border-top-left-radius: 46px;

}

.login-section .heading h1{
    margin-top: 20px;
    font-size: 1.6 rem;
    font-weight: bolder;
    color: #0071B8;
}
.login-section .heading p{
    margin-top: 20px;
    font-size: 1 rem;
    color: #0071B8;
}

.login-form .form-input{
    position: relative;
    margin-bottom: 10px;
}

