ion-toolbar {
    --background: #EDEDF4; 
}

ion-title {
    --color: #0071B8;
    font-weight: bolder;
    text-align: center;
  }

#background-Home{
    --background: url(../assets/img/background-login.jpg) no-repeat cover fixed center;
    background: url(../assets/img/background-login.jpg) no-repeat fixed center; 
    background-size: cover;
}
.titleicon {
    text-align:center;
}

.login-section{
    height: auto;
    width: 100%;
    max-width: 500px;
    background: #EDEDF4;
    right: 0;
    left: 0;
    bottom: 0;
    position: relative; top: 45px;
    margin: auto;
    border-top-right-radius: 46px;
    border-top-left-radius: 46px;
}
.login-section .login-form{
    padding-bottom: 0;
}

.login-section .heading h1{
    margin-top: 20px;
    font-size: 1.6 rem;
    font-weight: bolder;
    color: #0071B8;
    text-align: center;
}
.login-section .heading p{
    margin-top: 20px;
    font-size: 1 rem;
    color: #606D80;
    text-align: center;
}

.login-section .login-form .form-input{
    position: relative;
    margin-bottom: 20px;
    padding: 0;
}

.login-section .login-form .form-input .iconsInput{
    position: absolute;
    top: 19px;
    z-index: 2;
    font-size: 1.2rem;
    left: 3px;
    color: #0071B8;
}

.login-section .login-form .form-input .labelInput{
    position: absolute;
    margin-left: 35px;
    font-size: 1rem;
    top: 3px;
    color: #404749;
}

#input-email{
    --padding-start: 36px;
    --padding-top: 36px;
}

#input-senha{
    --padding-start: 36px;
    --padding-top: 36px;  
}


.login-section .action-button{
    color: #606D80;
    font-size: 0.9rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 0;
}
.login-button{
    --background: #064780;
    text-align: center;
    width: 50%;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;

}
#signin-button{
    margin-bottom: 20px;
}

#question{
    font-weight: bolder;
}

#signup-button{
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(to left, #499BDD, #204268);
    border-image-slice: 1;
    font-size: 0.9rem;
    color: #0071B8;
    --border-color: transparent;
  }

  #forgotmypass{
    text-transform: none;
    font-size: 0.9rem;
    color:#606D80;
    justify-content: right;
    width: 100%;
    display: flex;
  }

  #forgotmypass ion-button{
    color: #606D80;
    margin-bottom: 2vh;
  }
