/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para o formulário */
  form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #3367d6;
  }
  
  /* Estilos para o link de pagamento */
  .payment-link {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .payment-link p {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .payment-link a {
    font-size: 18px;
    color: #4285f4;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .payment-link a:hover {
    color: #3367d6;
  }
  