.body-menu{
    --background:  #EDEDF4;
}

.body-menu ion-item{
    --background: #EDEDF4;
}

.header-section ion-toolbar{
    --background: url(../assets/img/header-new.jpg);
    height: 203px;
}

.options-menu{
    padding-top: 0px;
    padding-bottom: 0px;
}

.icon-avatar{
    margin: auto;
}
.label-avatar p{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 3px;
    color: #EDEDF4;
}
.label-avatar{
    text-align: center;
}
#nome-user{
    padding-top: 10px;
}

.header-section .buttons-header{
    flex-direction: row;
    display: flex;
}

#logout{
    justify-content: left;
    margin-left: auto;
    --color: white;
}

#notify{
    justify-content: right;
    margin-right: 0;
    --color: white;
}

#settings{
    margin-left: 0;
    --color: white;
}

.avatar-header{
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-menu{
    --color: black;
    --placeholder-color: black;
    --icon-color: #0071B8;
    --clear-button-color: #0071B8;
    --border-radius: 10px;
    padding-top: 20px;
}

.options-menu ion-icon{
    color: #0071B8;
    padding: auto;
}

.options-menu ion-item{
    padding: auto;
    margin-left: auto;
}

.icon-hero{
    text-align: center;
}

.options-menu ion-label{
    margin-left: 10px;
}

main{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 30vw;
}

main > ion-card{
    width: 30vw !important;
}

.products-sec ion-title{
    font-size: 2em;
    text-align: left;
    padding-top: 4vh;
}

.products{
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 5vw;
    row-gap: 5vh;
    max-width: 30vw;
}

.products > ion-button{
    width: 60px;
    height: 60px;
}

@media screen and (max-width:900px) {
    main{
        width: 50vw;
    }
    .products{
        max-width: 50vw;
    }
    main > ion-card{
        width: 50vw !important;
    }
}