ion-toolbar {
    --background: #EDEDF4; 
  }
  .title-icon{
    text-align: center;
  }
  .header {
    align-items: center;
  }
  
  .background-received{
    --background: #EDEDF4;
  }
  
  .selecionar-informacao{
    --background: #EDEDF4;
    margin: 10px;
    border-bottom: #EDEDF4;
    width: 20%;
  }
  .Title{
    text-align: left;
    color: #0071B8;
    margin: 10px;
  }
  
  .data-item{
    --background: #ffffff;
    margin: 10px; 
    width:20%;
  }
  
  /*segment*/
  .opcao > ion-segment-button{
    --background-checked: #dad8d8; 
  }
  .opcao{
    margin: 10px;
  }
  .LabelOpc{
    color: #0071B8;
  }
  
  /*card informação geral*/
  .info-geral {
    --background:#ffffff;
    margin: 10px;
    height: auto;
  }  
  .Total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
  
  }
  .quantT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    gap: 15px;
  }
  .ValorT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    gap:15px;
  }
  
  /*card cartao*/
  .cartao{
    display: block;
  }
  .dados-cartao{
    --background:#ffffff;
    margin: 10px;
  }
  .info-cartao{
    height: 40px;
    background: #EDEDF4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 15px;
  }
  
  /*card boleto*/ 
  .boleto{
    display: none;
  }
  .dados-boleto{
    --background:#ffffff;
    margin: 10px;
  }
  .info-boleto{
    height: 40px;
    background: #EDEDF4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 15px;
  }
  
  /*card transferencia*/
  .transferencia{
    display: none;
  }
  .dados-transferencia{
    --background:#ffffff;
    margin: 10px;
  }
  .info-transferencia{
    height: 40px;
    background: #EDEDF4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 15px;
  }
  
  ion-button#Data{
    margin: 10px;
    width: 30%;
    text-align: right;
    background:#ffffff;
  }
  ion-modal#selectdate{
    --width:25%;
  }
  
  
  
  