/*alinhamento imagem*/
.title-icon{
  text-align: center;
}
/*cor do content*/
.background-received{
  --background: url(../assets/img/background-login.jpg) no-repeat cover fixed center;
  background: url(../assets/img/background-login.jpg) no-repeat fixed center; 
  background-size: cover;
}

.gridReceived{
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #EDEDF4;
}
.gridReceived h1{
  margin-top: 20px;
  font-size: 1.6 rem;
  font-weight: bolder;
  color: #0071B8;
  text-align: center;
}
/*Seleção de data*/
.gridReceived ion-button#DataStart{
  margin-top: 20px;
  text-align: left;
  width: 60%;
  max-width: 300px;
  background:#ffffff;
  margin-left: 15px;
  --color: #6d6d6d;
}
.gridReceived ion-button#DataEnd{
  margin-top: 10px;
  width: 60%;
  max-width: 300px;
  background:#ffffff;
  margin-left: 15px;
  --color: #6d6d6d;
}
ion-modal#selectdateStart{
  --width:100%;
  --max-width: 350px;
  --height: 100%;
  --max-height: 550px;
}

ion-modal#selectdateEnd{
  --width:100%;
  --max-width: 350px;
  --height: 100%;
  --max-height: 550px;

}

/*segment*/
.gridReceived ion-segment{
  margin-top: 20px;
  border-bottom: #0071B8 solid;
  
}
.gridReceived ion-segment-button{
  --background-checked: #dad8d8; 
  --indicator-height:0;
}
.gridReceived ion-label{
  color: #0071B8;
}
  
/*card informação geral*/
.informacaoGeral{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}
.quantidadeTotal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  gap: 15px;
}
.valorTotal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  gap:15px;
}


.informacao{
  height: 40px;
  width: 100%;
  background: #EDEDF4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin-top: 15px;
}

.cartao{
  display: block;
}  
.boleto{
  display: none;
}
.transferencia{
  display: none;
}

  

  
  
  
  