.register-section{
    height: 400px;
    width: auto;
    max-width: 500px;
    background: #EDEDF4;
    position: relative; top: 45px;
    margin: auto;
    border-radius: 30px;
}
.register-section h1{
    margin-top: 50px;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #0071B8;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.register-section p{
    margin-top: 20px;
    font-size: 1 rem;
    color: #606D80;
    text-align: center;
}
.register-section ion-button{
    color: white;
    --background:#0071B8;
    flex-direction: row;
}

.register-section ion-label{
    color: #404749;
    font-weight: bolder;
}

#product-button{
    height: 80px;
    width: 100px;
    margin:auto;
    margin-bottom: 10px;
}
#people-button{
    height: 80px;
    width: 100px;
    margin:auto;
    margin-bottom: 10px;
}
.register-section ion-icon{
    align-items: center;
    line-height: 30px;
}
.register-title{
    text-align: center;
    padding: 0
}
.register-header{
    display: flex;
}
.register-header ion-button{
    margin-right: 42vw;
    margin-left: 3vw;
}