ion-toolbar {
    --background: #EDEDF4; 
}

ion-title {
    --color: #0071B8;
    font-weight: bolder;
    text-align: center;
  }

.background-signup{
    --background: url(../assets/img/background-login.jpg) 0 0/100% 100% no-repeat;
    background-size: cover;
}

.signup-section{
    height: 100%;
    width: 100%;
    max-width: 600px;
    background: #EDEDF4;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute; top: 15px;
    margin: auto;
    border-top-right-radius: 46px;
    border-top-left-radius: 46px;
}

.signup-section .heading h1{
    margin-top: 20px;
    font-size: 1.6 rem;
    font-weight: bolder;
    color: #0071B8;
    text-align: center;
}

.signup-section .heading p{
    margin-top: 20px;
    font-size: 1 rem;
    color: #606D80;
    text-align: center;
}

.signup-section .login-form .form-input{
    position: relative;
    margin-bottom: 20px;
}
