ion-toolbar {
    --background: #EDEDF4; 
}

ion-title {
    --color: #0071B8;
    font-weight: bolder;
    text-align: center;
  }

.signup-content{
    --background: url(../assets/img/background-login.jpg) no-repeat cover fixed center;
    background: url(../assets/img/background-login.jpg) no-repeat fixed center; 
    background-size: cover;
}

.signup-section{
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #EDEDF4;
    align-items: center;
    text-align: center;
}

.signup-section h1{
    margin-top: 20px;
    font-size: 1.6 rem;
    font-weight: bolder;
    color: #0071B8;
}

.signup-section p{
    margin-top: 20px;
    font-size: 1 rem;
    color: #606D80;
}

.signup-button{
    --background: #0071B8;
}

.input-Telefone{
    font-size: 16px;
    color: black;
    border: 0;
    margin-left: 70px;
    padding-bottom: 10px;

    background-color:  white;
}

.input-Date{
    font-size: 16px;
    color: black;
    border: 0;
    margin-left: 160px;
    padding-bottom: 10px;

    background-color:  white;
}

.input-Telefone:focus {
    outline: none;
    border: none;
}

.input-Date:focus {
    outline: none;
    border: none;
}