.container {
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  position: relative; top: 40px;
  font-size: 20px;
  line-height: 35px;
  color: #0071B8;
}

.container p {
  font-size: 16px;
  position: relative; top: 50px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;

}

ion-toolbar {
  --background: #0071B8;
  }

ion-content{
  --ion-background-color: #F7F7F7;
}